

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">StoryTime</a>
    <div class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link " routerLink="/create" routerLinkActive="active">Create Story</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/storylist" routerLinkActive="active">Story List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/edit" routerLinkActive="active">edit</a>
        </li>
    </div>
</nav>

