

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">StoryTime</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " routerLink="/create" routerLinkActive="active">Create Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/storylist" routerLinkActive="active">Story List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/edit" routerLinkActive="active">Edit</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 
    https://www.bezkoder.com/angular-13-node-js-express-mysql/
    https://www.bezkoder.com/angular-13-crud-example/
-->
