<div id="create">
    <form method="post">
        Story Title:<br><input type="text" id="title" name="story_title" placeholder="Change Story title here" required><br>
        <br>
        <button type="submit" onclick="checknull1()">Save</button>
    </form>
    <form method="post">
        Enter Story:<br><textarea name="text_input" id="adv" cols="100" rows="10" placeholder="Change the section of a story here!" required> </textarea><br>
        <br>
        <button type="submit" onclick="checknull2()">Save</button>
    </form>
    <form method="post">
        Enter Choice: <br> <input type="text" id="choice" name="text_result" placeholder="What choice leads to this part of the story?" required>
        <br>
        <button type="submit" onclick="checknull3()">Save</button>
    </form>
</div>