<h1 id="page">Create a New Story!</h1>
<div class="submit-form">
    <div *ngIf="!added">
        <div class="form-group">
            <label for="title">Story Title</label>
                <input type="text" class="form-control" placeholder="Enter Story title here" id="title" required [(ngModel)]="story.title" name="title" />
        </div>
        <div class="form-group">
            <label for="description">Story Description</label>
                <textarea class="form-control" id="description" cols="100" rows="10" placeholder="Write a description for your story here!" required [(ngModel)]="story.description" name="description"></textarea>
        </div>
        <button (click)="saveStory()" class="btn btn-success">Submit</button>
        <button (click)="searchEvent()" class="btn btn-success" style="margin-left: 30px;" (ngModelChange)="lmao()">FUCK</button>
    </div>
    <div *ngIf="added">
        <h4>Story was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newStory()">Add</button>
    </div>
    <div *ngIf="storySent?searchStory():false"></div>
    <div *ngIf="storyIDRecieved?saveEvent():false"></div>
    <div *ngIf="eventSent?searchEvent():false"></div>
    <div *ngIf="eventIDRecieved?saveActions():false"></div>
</div>

<!-- https://stackoverflow.com/questions/52317494/is-it-good-to-call-subscribe-inside-subscribe -->