<h1 id="page">Create a New Story!</h1>
<div id="create">
    <form method="post" name="new_story">
        Story Title:<br><input type="text" name="story_title" placeholder="Enter Story title here" id="title" required><br>
        Story Description:<br><textarea name="description" id="description" cols="100" rows="10" placeholder="Write a description for your story here!" required></textarea><br>
        First Event:<br><textarea name="event_input" id="first" cols="100" rows="10" placeholder="Write the first section of your story! Players will make decisions from this point." required
        ></textarea><br>
        <br>
        <input type="submit" value="Save Story" onclick="saveStory()">
    </form>
</div>