<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchStory()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Story List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let story of stories; let i = index"
          [class.active]="i == current"
          (click)="setActiveStory(story, i)"
        >
          {{ story.title }}
        </li>
      </ul>
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllStories()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <!-- <app-story-details
        [viewMode]="true"
        [current]="currentStory"
      ></app-story-details> -->
    </div>
  </div>
  